ion-card {
    --background: #ffffff;
    --border-radius: 10px;
  }
  ion-back-button {
    --color: blue; 
  }
  ion-title{
    text-align: center;
  }
  ion-card-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  h2 {
    color: #3880ff;
    font-size: 24px;
    font-weight: bold;
  }
  